.main-conteiner {
  flex-grow: 1;
}

.menu-create {
  z-index: 8;
  transform: translateX(-120%);

  animation-name: x;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}

.confirm-mensage{
  animation-name: TransitionColor;
  animation-duration: 1s;
  animation-fill-mode: none;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes FecharMenu {
  from {
    transform: translateX(0px);
  }

  to {
    transform: translateX(-120%);
  }
}

@keyframes AbrirMenu {
  from {
    transform: translateX(-120%);
  }

  to {
    transform: translateX(0px);
  }
}

@keyframes TransitionColor{
  to{
    color: rgb(77, 77, 77);
  }

  from{
    color: rgb(0, 99, 228);
  }
}