@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  font-family: 'Roboto';
  color: rgba(245, 245, 245, 0.788);
  color: #a7a9be;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding: 10px 0px;
  background-color: rgb(32, 1, 40);
}

/* ------------------------------------------------------------------------------------------ */

.menu-create {
  display: flex;
  justify-content: stretch;
  align-items: flex-start;
  flex-direction: column;
  width: 30%;
  background-color: rgb(32, 1, 40);
  padding: 20px;
  height: 200%;
  box-sizing: border-box;
  position: absolute;
  z-index: 8;
  transform: translateX(0px);
  /* vão receber display none, vão ser dois menus de cada lado da tela, uma para setar os botões de listagem e outro pra criar */
}

.menu-create h2 {
  margin-top: 20px;
  font-size: 3rem;
  padding: 10px;
  color: #fffffe;
  border-radius: 2px 2px 0px 2px;
  font-family: 'Dancing Script';
  font-style: normal;
  width: 80%;
}

#button-menu-relative {
  margin: 20px;
  font-size: 20px;
}

.menu-create p {
  font-size: 1.4rem;
  color: #fffffe;
  align-self: center;
  border-radius: 0px 2px 0px 2px;
  padding: 5px;
  font-weight: 900;
  font-family: 'Dancing Script';
  font-style: normal;
}

#text-menucreate {
  margin-top: 30px;
  width: 90%;
  text-align: center;
  font-size: 2rem;
  background-color: rgb(133, 4, 29);
  border-radius: 20px 10px 43px 9px;
}

.conteiner-forms {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.labels-input {
  display: inline-block;
  font-size: 2rem;
  font-weight: 600;
  color: #fffffe;
  font-family: 'Roboto';
  background-color: rgb(54, 2, 67);
  padding: 5px;
  border-radius: 20px 10px;
}

.conteiner-forms input {
  width: 100%;
  box-sizing: border-box;
  height: 40px;
  margin-bottom: 30px;
  margin-top: 5px;
  background-color: rgb(43, 2, 53);
  color: #fffffe;
  border: 0;
  font-weight: 900;
  padding: 10px;
  font-size: 2rem;
  font-family: 'Roboto';
}

.conteiner-forms input::placeholder{
  color: #fffffe57;
}

.conteiner-forms input:focus-visible {
  outline: -webkit-focus-ring-color auto 0px;
}

#textarea-create {
  width: 280px;
  height: 30vh;
  width: 100%;
  margin-bottom: 30px;
  margin-top: 10px;
  box-sizing: border-box;
  background-color: rgb(43, 2, 53);
  color: #fffffe;
  border: 0;
  font-size: 2rem;
  padding: 5px;
  resize: none;
  font-weight: 900;
}

#textarea-create::placeholder{
  color: #fffffe57;
}

#textarea-create:focus-visible {
  outline: -webkit-focus-ring-color auto 0px;
}

#date {
  color: #fffffe7a;
  display: flex;
  height: 40px;
  padding: 5px;
}

#botaoenviar {
  width: 90%;
  margin: 20px auto;
  height: auto;
  background-color: rgb(4, 133, 108);
  border-radius: 10px 23px 15px;
  color: #fffffe;
  border: 0;
  font-weight: 900;
  padding: 5px;
  font-size: 2rem;
  font-family: 'Dancing Script';
}

.conteiner-top-menu {
  display: flex;
  width: 100%;
  align-items: baseline;
  justify-content: space-between;
}

#button-main-relative {
  position: relative;
  left: 3%;
  margin: 0px 20px;
  font-size: 20px;
}

.main-conteiner {
  padding: 10px;
  min-height: 50vh;
  max-height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 60%;
  flex-grow: 1;
}

.container-title{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.botaomenu{
  background-color: #fffffe13;
  padding: 12px;
  border-radius: 50%;
}

.main-title {
  font-size: 3rem;
  padding: 10px;
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  border-radius: 5px;
  color: #fffffe;
  background-color: rgb(29, 133, 4);
  font-family: 'Dancing Script';
}

.main-subtitle {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  color: #fffffe;
  font-family: 'Dancing Script';
  padding: 8px;
  border-radius: 2px;
  font-size: 3rem;
}

#notebook-title {
  background-color: transparent;
}

.conteiner-card-expandido {
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-top: 45px;
  border: 0;
  min-height: 70vh;
  margin-bottom: 45px;
  border-radius: 5px;
  background-color: rgb(100, 0, 125);
  overflow: hidden;
}

.header-card-expandido {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  border-bottom: 1px solid #333333;
  box-sizing: border-box;
  width: 95%;
  margin-bottom: 5px;
}

.section1-header-card {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  flex-wrap: wrap;
  font-size: 1.5rem;

  width: 70%;
  min-width: 220px;
}

.section1-header-card h2 {
  border-radius: 5px;
  color: #fffffe;
  padding: 20px;
}

.div-botoes button i {
  font-size: 2rem;
  color: #fffffe;
  padding: 5px;
}

.section3-main-card {
  border-radius: 5px;
  box-sizing: border-box;
  width: 95%;
  height: 60vh;
}

.descricao-tarefa-expandida {
  border: 0;
  font-size: 2.5rem;
  font-weight: 900;
  padding: 10px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  color: #fffffe;
  resize: none;
  background-color: rgb(100, 0, 125);
}

.descricao-tarefa-expandida::placeholder {
  font-size: 2rem;
  font-style: italic;
  font-weight: 900;
}

.descricao-tarefa-expandida:focus-visible {
  outline: -webkit-focus-ring-color auto 0px;
}

/* ---------------- */

.conteiner-geral {
  display: flex;
}

.container-cards {
  min-height: 20vh;
  height: auto;
  flex-basis: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.cards {
  min-width: 320px;
  width: 30%;
  margin: 10px;
  flex-grow: 1;
  font-weight: 900;
  flex-basis: 28%;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgb(100, 0, 125);
}

.cards h2 {
  /* Altera todos os H2 da classe card, mesmo que não seja filhos diretos */
  border-radius: 5px;
  padding: 5px;
  background-color: #0f0e17e7;
  font-size: 2rem;
  color: #a7a9be;
  width: 50%;
  flex-shrink: 2;
}

.section-desc{
  width: 100%;
  margin-top: 7px;
  border-radius: 5px;
  margin-top: 7px;
  padding: 8px;
  font-size: 2rem;
  background-color: #0f0e17e7;
}

.div-botoes{
  display: flex;
  justify-content: flex-end;
  min-width: 20%;
}

.div-botoes button {
  background-color: transparent;
  border-style: none;
  font-size: 2rem;
}

.button-icon {
  border-radius: 5px;
}

.button-icon i {
  box-sizing: border-box;
  padding: 4px;
  background-color: #0f0e17a4;
  margin: 0px 4px;
  border-radius: 5px;
  font-size: 10px;
}

#green {
  background-color: #046313;
}
#blue {
  background-color: #044a7d;
}
#yellow {
  background-color: #725200;
}

@media (min-width: 768px) {
  #button-menu-relative {
    display: none;
    position: relative;
    left: 3%;
    margin: 0px 20px;
    font-size: 20px;
  }
}

@media (max-width: 1073px) {
  .imagemEtxts {
    flex-direction: column;
    text-align: center;
    margin-top: 5px;
    padding: 0px;
  }

  .txts {
    text-align: center;
    margin: 0px;
  }

  .botãoEdit {
    min-height: 0vh;
    min-width: 0;

    justify-content: center;
    padding: 3px;
  }

  .txts h2 {
    position: static;
  }

  .txts p {
    position: static;
  }

  .cards {
    flex-basis: 20%;
    margin: 30px;
  }
}

@media (max-width: 1024px) {
  .main-conteiner {
    width: 60%;
  }

  .menu-create {
    width: 40%;
  }
}

@media (max-width: 768px) {
  .main-conteiner {
    width: 100%;
  }

  .menu-create {
    position: absolute;
    z-index: 6;
    width: 100%;
    height: auto;
    border-radius: 0 0 40px 40px;
    box-shadow: 0px 20px 30px black;
  }

  #button-menu-relative {
    display: initial;
    position: relative;
    left: 0%;
  }
}

@media (max-width: 890px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 45%;
  }

  .cards {
    min-width: 190px;
  }
}
