@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  font-family: 'Roboto';
  color: rgba(245, 245, 245, 0.788);
  background-color: #181818;
  color: #a7a9be;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;
  padding: 10px 0px;
}

/* ------------------------------------------------------------------------------------------ */

.main-title {
  font-size: 3rem;
  padding: 10px;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  border-radius: 5px;
  color: #fffffe;
  background-color: #067aff;
  font-family: 'Dancing Script';
}

.main-subtitle {
  margin-top: 20px;
  color: #fffffe;
  background-color: #067aff;
  font-family: 'Dancing Script';
  padding: 8px;
  border-radius: 2px;
  font-size: 3rem;
}

#notebook-title {
  background-color: transparent;
}

.conteiner-card-expandido {
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-top: 45px;
  min-height: 70vh;
  margin-bottom: 45px;
  border: 5px solid #067aff;
  border-radius: 5px;
  overflow: hidden;
}

.header-card-expandido {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  border-bottom: 1px solid #333333;
  box-sizing: border-box;
  width: 95%;
  margin-bottom: 5px;
}

.section1-header-card {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  flex-wrap: wrap;
  font-size: 1.5rem;

  width: 70%;
  min-width: 220px;
}

.section1-header-card h2 {
  border-radius: 5px;
  color: #fffffe;
  padding: 20px;
}

.div-botoes button i {
  font-size: 2rem;
  color: #fffffe;
  padding: 5px;
}

.section3-main-card {
  border-radius: 5px;
  box-sizing: border-box;
  width: 95%;
  height: 60vh;
}

.descricao-tarefa-expandida {
  border: 0;
  font-size: 2.5rem;
  font-weight: 900;
  padding: 10px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  color: #fffffe;
  resize: none;
}

.descricao-tarefa-expandida::placeholder {
  font-size: 2rem;
  font-style: italic;
  font-weight: 900;
}

.descricao-tarefa-expandida:focus-visible {
  outline: -webkit-focus-ring-color auto 0px;
}

/* ---------------- */

.conteiner-geral {
  display: flex;
}

.main-conteiner {
  padding: 10px;
  min-height: 50vh;
  max-height: auto;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 50%;
}

.container-cards {
  min-height: 20vh;
  height: auto;
  flex-basis: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.cards {
  min-width: 320px;
  width: 30%;
  margin: 10px;
  flex-grow: 1;
  font-weight: 900;
  flex-basis: 28%;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #067aff;
}

.cards div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}

.cards div h2 {
  /* Altera todos os H2 da classe card, mesmo que não seja filhos diretos */
  border-radius: 5px;
  padding: 5px;
  background-color: #0f0e17e7;
  font-size: 2rem;
  color: #a7a9be;
}

.cards div p {
  margin-top: 7px;
  padding: 8px;
  background-color: #0f0e17e7;
  font-size: 2rem;
  border-radius: 7px;
}

.testing-padding {
  padding: 0px;
  width: auto;
}

.div-botoes button {
  background-color: transparent;
  border-style: none;
  font-size: 2rem;
}

.button-icon {
  border-radius: 5px;
}

.button-icon i {
  box-sizing: border-box;
  padding: 4px;
  background-color: #0f0e17a4;
  margin: 0px 4px;
  border-radius: 5px;
  font-size: 10px;
}

#green {
  background-color: #046313;
}
#blue {
  background-color: #044a7d;
}
#yellow {
  background-color: #725200;
}

/* ----------------------------- Menus Retrateis ---------------------------------- */

.menu-create {
  display: flex;
  justify-content: stretch;
  align-items: flex-start;
  box-sizing: border-box;
  flex-direction: column;
  width: 25%;
  padding: 0px 5px;
  border-right: 1px solid #3333334f;
  /* vão receber display none, vão ser dois menus de cada lado da tela, uma para setar os botões de listagem e outro pra criar */
}

.menu-create h2 {
  margin-top: 20px;
  font-size: 3rem;
  padding: 10px;
  color: #fffffe;
  border-radius: 2px 2px 0px 2px;
  background-color: #1f1e1e;
  font-family: 'Dancing Script';
  font-style: normal;
}

.menu-create p {
  font-size: 1.4rem;
  color: #fffffe;
  align-self: center;
  border-radius: 0px 2px 0px 2px;
  background-color: #ff8906;
  padding: 5px;
  font-weight: 900;
  font-family: 'Dancing Script';
  font-style: normal;
}

#text-menucreate {
  margin-top: 30px;
  align-self: center;
  background-color: #333333;
  width: 90%;
  text-align: center;
  font-size: 2rem;
}

.conteiner-forms {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.labels-input {
  display: inline-block;
  font-size: 2rem;
  font-weight: 200;
  color: #fffffe;
  font-family: 'Dancing Script';
  background-color: #333333;
  padding: 5px;
  border-radius: 2px;
}

.conteiner-forms input {
  width: 100%;
  box-sizing: border-box;
  height: 40px;
  margin-bottom: 30px;
  margin-top: 5px;
  background-color: #333333;
  color: #fffffe;
  border: 0;
  font-weight: 900;
  padding: 5px;
  font-size: 2rem;
  font-family: 'Roboto';
}

.conteiner-forms input:focus-visible {
  outline: -webkit-focus-ring-color auto 0px;
}

#textarea-create {
  width: 280px;
  height: 30vh;
  width: 100%;
  margin-bottom: 30px;
  margin-top: 10px;
  box-sizing: border-box;
  background-color: #333333;
  color: #fffffe;
  border: 0;
  font-size: 2rem;
  padding: 5px;
  resize: none;
  font-weight: 900;
}

#textarea-create:focus-visible {
  outline: -webkit-focus-ring-color auto 0px;
}

#date {
  color: #fffffe7a;
  display: flex;
  height: 40px;
}

#date::placeholder {
}

#botaoenviar {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
  margin-top: 5px;
  background-color: #333333;
  color: #fffffe;
  border: 0;
  font-weight: 900;
  padding: 5px;
  font-size: 2rem;
  font-family: 'Dancing Script';
}

.menu-organize {
  display: flex;
  justify-content: stretch;
  align-items: flex-start;
  flex-direction: column;
  width: 25%;
  padding: 10px;
  border-left: 1px solid #3333334f;
  /* vão receber display none, vão ser dois menus de cada lado da tela, uma para setar os botões de listagem e outro pra criar */
}

.menu-organize h2 {
  margin-top: 20px;
  font-size: 3rem;
  padding: 10px;
  color: #fffffe;
  border-radius: 2px 2px 2px 0px;
  background-color: #a786df;
  align-self: flex-end;

  font-weight: 900;
  font-family: 'Dancing Script';
  font-style: normal;
}

.menu-organize p {
  font-size: 1.4rem;
  color: #fffffe;
  align-self: center;
  border-radius: 2px 0px 2px 2px;
  background-color: #ff8906;
  padding: 5px;
  font-weight: 900;
}

@media (max-width: 1073px) {
  .imagemEtxts {
    flex-direction: column;
    text-align: center;
    margin-top: 5px;
    padding: 0px;
  }

  .txts {
    text-align: center;
    margin: 0px;
  }

  .botãoEdit {
    min-height: 0vh;
    min-width: 0;

    justify-content: center;
    padding: 3px;
  }

  .txts h2 {
    position: static;
  }

  .txts p {
    position: static;
  }

  .cards {
    flex-basis: 20%;
    margin: 30px;
  }
}

@media (max-width: 1024px) {
  .menu-organize {
    display: none;
  }

  .main-conteiner {
    width: 60%;
  }

  .menu-create {
    width: 40%;
  }
}

@media (max-width: 890px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 768px) {
  .main-conteiner {
    width: 100%;
  }

  .menu-create {
    display: none;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 45%;
  }

  .cards{
    min-width: 190px;
  }
}
